<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PSAddress" value="192.168.20.240"/>
    <add key="CTXXMLPort" value="80"/>
    <add key="ICAPort" value="1494"/>
    <add key="LogErrors" value="true"/>
    <add key="LogInfo" value="false"/>
    <add key="LogDetInfo" value="false"/>
    <add key="Secure" value="false"/>
    <add key="PolicyName" value=""/>
    <add key="CodeBaseUrl" value="http://207.36.209.153/Citrix/Metaframe/ICAWEB/icajava"/>
    <add key="STA_URL" value="http://citrixae.xendesktop.extentrix/scripts/ctxsta2.dll,http://citrixae.xendesktop.extentrix/scripts/ctxsta3.dll,http://citrixae.xendesktop.extentrix/scripts/ctxsta.dll"/>
    <add key="CAG_PORT" value="443"/>
    <add key="CAG_FQDN" value="CAG.xendesktop.extentrix"/>
    <add key="UseCAG" value="false"/>
    <add key="STA_LoadBalancing" value="true"/>
    <add key="STA_FailOver" value="60"/>
    <add key="STA_FailOver_Settings" value="0;0"/>
    <add key="CPS_FailOver" value="60"/>
    <add key="LastSTAServer" value=""/>
    <add key="LastCPSServer" value=""/>
    <add key="EveryoneRole" value="Everyone"/>
  </appSettings>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- Logging Configuration -->
  <log4net>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:/LogFiles/log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <immediateFlush value="true" />
      <param name="StaticLogFileName" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss,fff} %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>

  </log4net>
</configuration>